@charset "UTF-8";

.formrow label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 0 0 0;
  text-align: left;
  color: white;
}

.formrow{
  margin: 5px 0;
}

.formrow h3{
  text-align: left;
  font-size: 24pt;
  color: white;
  margin-bottom: 30px;
}

.formrow label em {
  float: right;
  padding-right: 5px;
  font-style: normal;
  font-weight: normal; }

.buttonrow {
  padding-top: 10px;
  text-align: right; }

.formrow textarea{
  height: 300px;
  font-size: 18pt;
}

input[type="text"], textarea,input[type="password"]{
  font-family: Verdana, Arial, sans-serif;
  color: black;
  border: 1px solid #00576d;
  box-shadow: inset 0px 1px 3px #86AFCE, 0 0 5px rgba(255,255,255,.6);
  border-radius: 3px;
  background: #EAEAEA;
  font-size: 24pt;
  padding: 4px 6px;
  margin: 1px 5px 5px 1px;
  width: 482px; }

input[type="text"].smallTextbox
{
  font-size: 16pt;
  width: 240px;
}

input[type="text"].halfsize {width: 223px; }
input[type="text"].city{width: 215px;}
input[type="text"].state{width: 90px;}
input[type="text"].zip{width: 120px;}

input[type="text"]:hover {
  border: 1px solid #00576d; }

input[type="text"]:focus {
  outline: 0;
  border: 1px solid #00576d;
  box-shadow: inset 0px 2px 2px #cccccc, 0 0 5px #86AFCE;
  background: white; }

.checkbox {
  float: left;
  border: 1px solid #0094ba;
  border-radius: 3px;
  box-shadow: inset 0px 2px 2px #c2c9c9;
  background: #f2f9f9; }

.checkbox:hover {
  border: 1px solid #00576d; }

.checkbox:focus {
  outline: 0;
  border: 1px solid #00576d;
  box-shadow: inset 0px 2px 2px #cccccc, 0 0 5px #0094ba;
  background: white; }

.errormessage {
  background: #fffaf5;
  background: -moz-linear-gradient(top, #fffaf5 0%, #f4dad0);
  background: -webkit-gradient(linear, left top, left bottom, from(#fffaf5), to(#f4dad0));
  border: 1px solid #f57232;
  color: #95311a;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 3px 3px 13px 3px; }

button, .button {
  cursor: pointer;
  vertical-align: middle;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 4px 10px;
  background: #DFEFFC;
  background: -moz-linear-gradient(
    top,
    #dfeffc 0%,
    #b2c4d1);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#dfeffc),
    to(#b2c4d1)); 
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #888888;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  float: right; }
span.button{
  padding: 4px 10px;
  margin: 0 8px;
}
.button a, .button a:visited{color: black;}
button.primary, .button.primary {
  color: white;
  background: #24a7bd;
  background: -moz-linear-gradient(top, #71bccc 0%, #24a7bd);
  background: -webkit-gradient(linear, left top, left bottom, from(#71bccc), to(#24a7bd));
  border: 1px solid #00576d;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3); }

button:hover, .button:hover {
  opacity: .8;}

button:active, .button:active {
  background: #b2c4d1;
 }

.tooltip {
  background-color: #d5e2e2;
  padding: 10px 15px;
  width: 200px;
  display: none;
  color: black;
  text-align: left;
  font-size: 12px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black; }
  
  button.yes{
    float: right
  }
  
  button.no{
    float: left;
  }


button.backButton{
  font-size: 14pt;
  float: left;
}

button.smallButton, .button.smallButton{
  font-size: 12pt;
  padding: 0;
}
.searchHeader input.searchField{
  width: 300px;
  font-size: 14pt;
  border-radius: 20px;
  color: black;
  float: right;
  outline: none;
}

.searchHeader input.searchField:focus{
  border: 1px solid #00576d;
  box-shadow: inset 0px 2px 2px rgba(0,0,255,.4), 0 0 5px rgba(255,255,255,.6);
  background: white;
}

.searchButton{
  font-size: 12pt;
}

.searchBox{
  float: left;
  width: 330px;
}

.filterButton{
  font-size: 12pt;
}

.filters input[type="text"]{
  font-size: 12pt;
  width: 150px;
  clear: both;
}


.filters select{
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
     -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    border: 1px solid #AAA;
    color: #555;
    font-size: 18px;
    margin: 10px 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 165px;
}

.filters button{
  margin-top: 10px;
}

/* Open Order Page */
.noteBox textarea{
  font-size: 14pt;
  width: 480px;
  height: 200px;
}

/* Button Icons */
.icon{
  text-align: right;
  display: block;
  padding: 4px 10px;
  color: black;
}

.smallButton .icon{
  height: 18px;
}
.icon-back{
  padding-left: 35px;
  background: url(/static/images/icons/back-arrow.png) 4px 7px no-repeat;
}

a.icon-edit{
  padding-left: 35px;
  background: url(/static/images/icons/edit-pencil.png) 4px 6px no-repeat;
}

.icon-logout{
  padding-left: 30px;
  background: url(/static/images/icons/logout.png) 4px 4px no-repeat;
}
.icon-close{
  padding-left: 30px;
  background: url(/static/images/icons/close.png) 4px 4px no-repeat;
}

a.icon-download{
  padding-left: 25px;
  background: url(/static/images/pdf_icon.png) 4px 4px no-repeat;
}

.icon-delete{
  padding-left: 30px;
  background: url(/static/images/icons/delete.png) 4px 4px no-repeat;
}

.icon-email{
  padding-left: 30px;
  background: url(/static/images/icons/email.png) 4px 6px no-repeat;
}